.volcano:global(.ant-switch-checked) {
  background-color: #ff4d4f;
}
.green:global(.ant-switch-checked) {
  background-color: #52c41a;
}

.geekblue:global(.ant-switch-checked) {
  background-color: #2f54eb;
}
